header {
  background-color: #1b1b1b;
  /* height: 100px; */
}

body {
  background-color: #1b1b1bf5 !important;
}

a {
  text-decoration: none !important;
}

.headerLogo {
  width: 150px;
}

.navHeader {
  display: flex;
  /* background-color: aqua; */
  justify-content: space-between;
  padding: 30px;
}

/* pange index */
.containerSlider {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* conainer product */
.containerSlider h1 {
  color: #fff;
  font-size: 32px;
  text-transform: uppercase;
}

.productBrand {
  text-align: center;
}

/* badge d'assurence  */
.icon {
  color: #fff;
  font-size: 18px !important;
  padding-right: 10px;
  margin-top: 5px;
}

.navbar-brand {
  margin-top: 5px;
  font-size: 12px !important;
}

.badgeContaineur {
  margin-top: 10px;
  display: flex;
  align-items: top;
  color: #fff;
}

/* size product card */
.card {
  width: 18rem;
}

.carousel {
  background-color: transparent;
  width: 30% !important;
  min-height: 100% !important;
}

.carousel-item,
.slide {
  min-height: 100% !important;
  border-radius: 30px;
}

.SliderImageUrl {
  border-radius: 30px;
  min-height: 100% !important;
  height: 250px !important;
}

/* ProductSheet page */
.shopping {
  color: #1b1b1b !important;
  font-size: 25px !important;
  text-align: end !important;
  padding-right: 15px !important;
  width: 100%;
}

.cadi {
  width: 65px;
  height: 65px;
  background-image: url("img/shopping-cart-solid.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.containerProduct {
  color: #fff;
  display: flex;
  padding: 20px 100px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.cartBtn {
  color: #fff;
  margin: 0px;
  font-size: 40px;
  padding-top: 40px;
  margin-top: -20px;
}

.cartBtn:hover {
  color: orange;
  transition: ease-in-out;
  transition-duration: 0.3s;
  margin: 0px;
  font-size: 40px;
  padding-top: 40px;
  margin-top: -20px;
}

#addToCard {
  display: none;
}

.showBTN {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

/* font Awesome */
.fas {
  font-size: 40px;
}

.fa-exclamation-triangle {
  font-size: 20px;
  margin-left: 20px;
  color: orange;
}

/* text color */
.text-with {
  color: #fff;
}
.text-grey {
  color: #1b1b1b;
}

/* Logo header */

/* Bbtn color */
/* Bbtn color 'choix de l'objectif'*/
.btn-grey {
  background-color: #1b1b1b !important;
  border: none !important;
}

/* btn 'Rechercher' in footer */
.btn-outline-success {
  border-color: #fff !important;
  color: #fff !important;
}

.btn-outline-success:hover {
  color: #1b1b1b !important;
  background-color: #fff !important;
}

table {
  background-color: #fff;
}

footer {
  background-color: #1b1b1b;
  justify-content: space-between;
  bottom: 0px;
  color: #fff !important;
}
#createArray img {
  width: 80px;
}
/* #imgOne,
img {
  width: 30px;
} */
td img {
  width: 30px;
}

@media (max-width: 750px) {
  .containerProduct {
    flex-direction: column !important;
  }
  .carousel {
    width: 90% !important;
  }
}

.btnChoise {
  flex-direction: column !important;
}

.showBTN {
  display: flex;
  justify-content: center;
  width: 100%;
}

.showBTN i {
  margin-left: 20px;
  margin-right: 20px;
}

.alertContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0;
  top: 10%;
  position: absolute;
}

#alert {
  display: none;
  width: 50vw;
  text-align: center;
  border-style: none;
  color: #fff;
}
.alert-link {
  color: #fff !important;
}
#alertProduct {
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}
#cartList {
  background-color: #fff;
}

#img_cart {
  width: 100px;
}

#form span {
  color: red;
}

.alertEmptyCart {
  background-color: #1b1b1bf5;
  text-align: center;
  /* box-shadow: 2px 2px 15px 2px #ff5a5a; */
  border-radius: 30px;
  padding-top: 25px;
  padding-bottom: 20px;
}

#backLink {
  width: 50%;
  /* margin-bottom: 30px; */
  color: #fff;
  font-size: 2vw;
  display: none;
}

.alertEmptyCart p {
  animation-duration: 2s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;
}
@keyframes clignoter {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
