<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../css/fontawesome/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Votre panier</title>
</head>

<body>
  <header>
    <nav class="navHeader">
        <a href="../index.html">
            <img src="../img/logo.png" class="headerLogo" alt="">
        </a>
        <a href="../index.html">
        </a>
        <button id="btnReload" class="btn btn-light">Vider le panier</button>
    </nav>
</header>

<main class="align-content-center justify-content-center containerSlider h-100"> 
    <h1 class="text-white ms-5 mb-4">Votre panier</h1>
    <a href="../index.html" id="backLink">
      <div class="mb-5 alertEmptyCart ">
        <p class="">Votre panier est vide <b>choisir un appareil</b></p>
      </div>
    </a>
    <div class="container">
      <table class="table" id="creatArray">
        <thead>
          <tr>
            <th scope="col">Article</th>
            <th scope="col">Option</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
            <th scope="col">Photo</th>
          </tr>
        </thead>
        <tbody id="createArray">
        </tbody>
      </table>
    </div>
    
    <div class="container text-with mb-5">
        <div class="row d-flex">

          <form action="ticket.html" id="form" class="row cart col">

            <div class="col-md-6">
              <label for="validationDefault01" class="form-label">Prénom</label>
              <input type="text" class="form-control" id="firstName" placeholder="antoine" >
              <span id="error"></span>
            </div>
            <div class="col-md-6">
              <label for="validationDefault02" class="form-label">Nom</label>
              <input type="text" class="form-control" id="lastName" placeholder="Carrel" >
              <span id="error2"></span>
            </div>
            <div class="col-md-6 mt-2">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="text" class="form-control" id="mail" placeholder="mail@mail.com" >
                <span id="mailError"></span>
            </div>
            <div class="col-md-6 mt-2">
              <label for="validationDefault03" class="form-label">Ville</label>
              <input type="text" class="form-control" id="city">
              <span id="cityError"></span>
            </div>
            <div class="col-12 mt-2">
                <label for="inputAddress" class="form-label">Addresse</label>
                <input type="text" class="form-control" id="address" placeholder="1234 Main St" >
                <span id="adressError"></span>
            </div>
            <div class="col-12 mt-2">
              <button id="buy" class="btn btn-primary" type="">Acheter</button>
            </div>
          </form>
        </div>
        
    </div> 
            
</main> 
    <footer class="pt-5 pb-5">
      <div class="container">
          <div class="row align-items-center">
              <div class="col">
                  <p>Contact</p>
                  <p>FAQ</p>
              </div>
              <div class="col">
                  <p>Politique de confidentialité</p>
                  <p>Conditions générale de ventes</p>
              </div>
              <div class="col">
                  <p>Politique de retour</p>
                  <p>© Cartoine</p>
              </div>
              <div class="col">
                  <div class="container">
                    <form class="d-flex">
                      <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Recherche</button>
                    </form>
                  </div>
            </div>
          </div>
      </div>
    </footer>
        
    
    <script type="module" src="../Js/cart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
</body>
</html>