<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../css/fontawesome/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Document</title>
</head><body>
  <header>
    <nav class="nav bg-grey p-4 d-flex align-content-center ">
        <a class="navbar-brand" href="../index.html">
            <img src="../img/logo.png" width="150" height="auto" alt="">
          </a>
        <a class="nav-link active" aria-current="page" href="#">Active</a>
        <a class="nav-link" href="home.html">New Home</a>
        <a class="nav-link" href="#">Link</a>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </nav>
</header>
    <main class="">
        
      <div class="bg-grey d-flex align-content-center justify-content-center containerSlider">
 
            
            <!-- <div class="card mb-5 mx-auto" style="max-width: 540px;"> -->
              <div class="card mb-3 w-75 p-1">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img id="test" class="card-img imageUrl" src="../img/cadie.png" alt="Card image cap">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title cameraName"></h5>
                      <p class="card-text cameraDescription"></p>
                      <p class="card-text cameraPrices"></p>
                      <ul>
                        <li class="lenses"></li>
                        <li class="lenses"></li>
                        <li class="lenses"></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="card m-3" style="width: 18rem;">
              <img id="test" class="card-img-top imageUrl" src="../img/beer.ico" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title cameraName">Card title</h5>
                <p class="card-text cameraDescription">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary cameraPrices">Go somewhere</a>
              </div> -->
          <!-- </div> -->
      
        </div>
             
 
    </main> 
<script type="module" src="../Js/article.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
</body>
</html>